body
{
	margin: 0;
	
	/* Disable highlighting text and elements. */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a
{
	color: black;
}

.rounded-corners
{
	border:  2px solid #000000;
	padding: 10px 40px; 
	width:   100%;
	
    -moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius:  15px;
    border-radius:         15px;
    
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing:  border-box;
    box-sizing:         border-box;
    
    box-shadow: 10px 10px 5px #888888;
}

#entries-background
{
	width: 1200px;
	height: calc(100% + 10px);
	
    position: fixed;
    top: -5px;
    left: 0;
    right: 0;
    bottom: -5px;
    
    z-index: -1;
	
	border-left:  3px solid black;
	border-right: 3px solid black;
	
	background-color: #DDDDDD;
	
    margin: 0 auto;
    
    box-shadow: 10px 0px 5px #888888, -10px 0px 5px #888888;
}

#entries-container
{
	width: 1200px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
	padding: 10px;
	
    margin: 0 auto;
}

#entries
{
	width: 1000px;
	
	word-wrap: break-word;
    
    margin: 0 auto;
}

.entry
{
	background-color: #DB944D;
	word-wrap: break-word;
}

h2
{
	display: inline;
}